body {
	margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
	margin: 50px 0;
  text-align: center;
}

.act {
  float: right;
}

.info {
}

.comment {
  margin-top: 20px;
}

.author {
  font-size: 16px;
  color: blue;
  display:inline;
}

.date {
  margin-left: 20px;
  position: relative;
  display:inline;
}

.rendered-content {
	font-size: 2rem
}

.quote-name {
  font-size: 14px;
  color: blue;
}

blockquote {
  border-left: 0.5em solid blue;
  border-color: blue !important;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  background: #fff;
}
