html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  position: fixed;
  height: 50px;
  width: 100%;
}

.content{
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 20px;
  left: 0px;
}

.content div{
  height: 100%;
}

.post-list {
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  top: 50px;
  bottom: 20px;
  height: 100%;
}

.footer {
  position: fixed;
  height: 20px;
  bottom: 0;
  background-color: #AAA;
  width: 100%;
  text-align: center;
}
.rendered-content {
  padding-top: 40px;
  padding-right: 30px;
	font-size: 2rem;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  background: #fff;
}
.content-option {
	padding-right: 68px;
	margin-right: 1px;
  position: absolute;
  width: 100%;
  height: 40px !important;
  background: #ddd;
  text-align: right;
  filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8; -khtml-opacity: 0.8;
  font-size: 24px;
}
.content-option a>span{
  padding-top: 5px;
}
.features .editor .entry-markdown .floatingheader a, .features .editor .entry-preview .floatingheader a {
	color: #fff
}
.features .editor .entry-markdown .floatingheader a, .features .editor .entry-preview .floatingheader a {
	color: #aaa9a2
}
.features .editor .entry-markdown.active, .features .editor .entry-preview.active {
}

li.list-group-item.active {
  background: #428bca;
  color: #fff;
  min-height: 70px;
  text-align: left;
}

li.list-group-item{
  color: #428bca;
  min-height: 70px;
  text-align: left;
  cursor: pointer;
}

.top-tool{
  position: absolute;
  right: 30px;
  top: 20px;
}

li.list-group-item > .status{
}
